# ignore python and editors cache
__pycache__
.env*
.vscode
.DS_Store

# ignore venv
venv
.venv

# ignore dev dotenv file
.env

# ignore locally significant directories
tmp
data
vector-db
vendor

# ignore files that begin with tmptest_
tmptest_*

# don't keep log files
logs/*

# ignore test results
tests/test_results/*
htmlcov/
.coverage

# ignore cache directories
.mypy_cache
.pytest_cache
.ruff_cache
