# ignore python and editors cache
__pycache__
.env*
.vscode
.DS_Store

# ignore venv
venv
.venv
.pdm-python

# ignore local configuration
.env
/olsconfig.yaml
scratch

# ignore locally significant directories
tmp
data
vector-db
vendor
embeddings_model
.output

# ignore credential files
*_api_key.txt

# ignore files that begin with tmptest_
tmptest_*

# don't keep log files
logs/*

# ignore test results
tests/test_results/*
htmlcov/
.coverage*

# ignore cache directories
.mypy_cache
.pytest_cache
.ruff_cache

# ignore faiss index directory
index/

# ignore .idea for pycharm
.idea
