[tool.ruff]

# description of all rules are available on https://docs.astral.sh/ruff/rules/
lint.select = ["D", "E", "F", "W", "C", "S", "I", "TCH", "SLOT", "RUF", "C90", "N", "YTT", "ASYNC", "A", "C4", "T10", "PGH"]

# we need to check 'mood' of all docstrings, this needs to be enabled explicitly
lint.extend-select = ["D401"]

lint.ignore = []

target-version = "py311"
lint.pydocstyle.convention = "google"
line-length = 100

[tool.coverage.report]
# unit tests fails if the total coverage measurement is under this threshold value
fail_under = 90

[tool.mypy]
disable_error_code = ["union-attr", "return-value", "arg-type", "import-untyped"]
ignore_missing_imports = true
plugins = ["pydantic.mypy"]

[tool.pydantic-mypy]
init_forbid_extra = true
init_typed = true
warn_required_dynamic_aliases = true

[tool.bandit]
skips = []
exclude_dirs = ["tests", "scripts"]

[tool.pdm]
distribution = false

[tool.pdm.dev-dependencies]
dev = [
    "black==24.8.0",
    "fastparquet==2024.5.0",  # Required for model evaluation (runtime, if parquet qna file is used)
    "httpx==0.27.0",
    "mypy==1.11.2",
    "pytest==8.3.2",
    "pytest-cov==5.0.0",
    "pytest-asyncio==0.24.0",
    "pydantic==2.8.2",
    "rouge-score==0.1.2",  # Required for model evaluation
    "ruff==0.6.2",
    "bandit==1.7.9",
    "types-requests==2.32.0.20240622",
    "gradio==4.37.2",
    "boto3==1.34.145",
    "reportportal-client==5.5.6",
    "pytest-reportportal==5.4.1",
    "pytest-benchmark[histogram]>=4.0.0",
]

# The following section is needed only for torch[cpu] variant on Linux,
# because this variant need to be downloaded from external link, not from
# standard Python package index:
#
# [[tool.pdm.source]]
# type = "find_links"
# url = "https://download.pytorch.org/whl/cpu/torch_stable.html"
# name = "torch"


[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "ols"
version = "0.1.4"
description = "OpenShift LightSpeed is an AI powered assistant that runs on OpenShift and provides answers to product questions using backend LLM services."
authors = []
dependencies = [
    "pdm==2.18.1",
    "torch==2.4.1",
    "pandas==2.1.4",
    "fastapi==0.112.2",
    "langchain==0.2.11",
    "langchain-ibm==0.1.12",
    "llama-index==0.10.62",
    "llama-index-vector-stores-faiss==0.1.2",
    "llama-index-embeddings-huggingface==0.2.2",
    "uvicorn==0.30.1",
    "redis==5.0.8",
    "faiss-cpu==1.8.0.post1",
    "sentence-transformers==3.0.1",
    "openai==1.42.0",
    "ibm-generative-ai==3.0.0",
    "ibm-cos-sdk==2.13.6",
    "langchain-openai==0.1.15",
    "pydantic==2.8.2",
    "setuptools==72.1.0",
    "prometheus-client==0.20.0",
    "kubernetes==30.1.0",
    "psycopg2-binary==2.9.9",
    "azure-identity==1.17.1",
    "langchain-community==0.2.10",
    "SQLAlchemy==2.0.32",
    "huggingface_hub==0.23.4",
    "ibm-watsonx-ai==1.1.8",
    "certifi==2024.7.4",
    "cryptography==43.0.1",
    "urllib3==2.2.2",
    "nltk==3.9.1",
    "aiohttp==3.10.2",
    "zipp==3.20.1",
    "jinja2==3.1.4",
    "scikit-learn==1.5.1",
]
requires-python = "==3.11.*"
readme = "README.md"
license = {file = "LICENSE"}

[tool.pdm.scripts]
start = "pdm run make run"
test = "pdm run make test"
test-unit = "pdm run make test-unit"
test-integration = "pdm run make test-integration"
test-e2e = "pdm run make test-e2e"
coverage-report = "pdm run make coverage-report"
unit-tests-coverage-report = "pdm run make unit-tests-coverage-report"
integration-tests-coverage-report = "pdm run make integration-tests-coverage-report"
check-types = "pdm run make check-types"
generate-schema = "pdm run make schema"
security-check = "pdm run make security-check"
benchmarks = "pdm run make benchmarks"

[tool.setuptools]
packages = ["ols"]

[tool.pylint."MESSAGES CONTROL"]
good-names = ["e"]
