[tool.ruff]

select = ["E", "F", "W", "C", "S", "I", "TCH"]

ignore = []

target-version = "py311"
line-length = 168

[tool.coverage.report]
# unit tests fails if the total coverage measurement is under this threshold value
fail_under = 40
