black
httpx
mypy
pytest
pytest-cov
ruff
# types-requests<2.31.0.20240126 to avoid upgrading urllib3>1.27 that breaks ibm-cos-sdk-core 2.13.
# todo: remove when ibm-cos-sdk-core does not depend on urllib3<1.27.
types-requests<2.31.0.20240126

